{
	frankenphp
	order php_server before file_server
}

www.toybox-laravel.test {
    redir https://toybox-laravel.test{uri} 301
}

toybox-laravel.test {
	root * APP_PATH/public/
	# Enable compression (optional)
	encode zstd gzip
    file_server
	# Execute PHP files in the current directory and serve assets
	php_server {
		# Required for the public/storage/ dir
		resolve_root_symlink
	}
	log {
        output file APP_PATH/storage/logs/caddy-access.log
    }
}
